# Это временный файл для кусков кода вырезанных их файлов типа .erb , которые (куски кода) могут пригодится в дальнейшем при разработке программ.
# =================================================================================

# Из файла visit.erb  - кусок от формы для выбора парикмахера при записи в парикмахерскую. Он с блоком памяти выбранного парикмахера и специальным кодом ruby для получений нужного количества строк с парикмахерами.

<div class="form-group">
        <label>Ваш парикмахер</label>
        <select name="barber" class="form-control">

          <!-- Здесь @barbers - это массив хешей, в которм все записи и в каждой записи все поля, а  item - это элемент этого массива, т.е. хеш, в котором только одна запись и все поля этой записи -->
          <% @barbers.each do |item| %>
              <option <%= @barber == item['name'] ? 'selected' : '' %> ><%= item['name'] %> </option>
          <% end %>
  
        </select>
      </div>
# --------------------------------------------- К О Н Е Ц ___ К О Д А -------------
